<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 10px;
            width: 110%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 18px;
        }

        #header {
            background-color: black;
            color: white;
            cursor: pointer;
            padding: 15px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

        .active,
        .collapsible:hover {
            background-color: #555;
        }

        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }
    </style>
    <title>Admin | userfiles </title>
</head>

<body>

    <div id="header">
        <span style="font-weight: bold; font-size: x-large;">
             User
        </span>
        <span style="margin-left: 4cm; font-weight: bold; font-size:  x-large;">
            Space Used
        </span>
        <span style="margin-left: 4cm; font-weight: bold; font-size:  x-large;">
            Total Files
        </span>
    </div>

    <div>



        <% console.log(userfiles.length) %>

            <% userfiles.forEach((info)=>{ %>

                <button type="button" class="collapsible">
                    <!-- <input type="text" name='<%info[0].username %>' value='<%=info[0].username %>'> -->
                    <p>
                        <span>
                            <%= info[0].username %>
                        </span>
                        <span style="margin-left: 5cm;">
                            <%= info[0].usedspace %> / <%= info[0].allowedspace %>
                        </span>
                        <span style="margin-left: 5cm;">
                            <%= info.length -1  %> 
                        </span>
                    </p>
                </button>

                <div class="content">
                    <% for(let index=1 ; index < info.length ; index++){ %>

                        <div style="border-style: solid; border-color: black; border-width: thin;">
                            <form action="/admin/userfiles" method="POST" style="margin: 10px;">
                                <div>
                                    <h2>
                                        File: <%= info[index].filename %>

                                    </h2>
                                    <h2>
                                        Size: <%= info[index].filesize %>Mb
                                    </h2>
                                </div>
                                <div style="margin: 5px;">
                                    <input type="text" name="username" style="display: none;"
                                        value='<%=info[0].username %>'>
                                    <input type="text" style="display: none;" name="filename"
                                        value='<%= info[index].filename %>'>
                                    <input type="submit" name="action" value="delete" style="margin: 5px;">
                                    <input type="submit" name="action" value="download">
                                </div>
                            </form>
                        </div>
                        <% } %>
                </div>


                <% }) %>

    </div>


    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

</body>

</html>