<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | usage</title>
</head>

<body>

    <table style="border: 1px solid black;">

        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>Usage (MB)</th>
            <th>edit</th>
            <th>Stop Usage</th>
        </tr>


        <% userUsage.forEach( document=>{ %>

            <tr>
                <th>
                    <%= document.user_id %>
                </th>
                <th>
                    <%= document.username %>
                </th>
                <th>
                    <%= document.spaceUsed %> / <%= document.allowedStorage %>
                </th>
                <th>
                    <form action="/admin/userStorage" method="POST" >
                        <input style="display: none;" type="text" name="user_id" value=<%= document.user_id %> >
                        <input type="number" name="newspace">
                        <input type="submit" name="action" value="edit">
                    </form>
                </th>
                <th>
                    <form action="/admin/userStorage" method="POST">
                        <input style="display: none;" type="text" name="user_id" value=<%= document.user_id %> >
                        <input type="submit" name="action" value="stop">
                    </form>
                </th>
            </tr>
            <% }) %>

    </table>

</body>

</html>