<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFiles</title>
</head>

<body>
    <% files.forEach(entry=> { %>
        <div id="<%= entry.filename %>div">
            <h3>
                <%= entry.filename %>
            </h3>
            <p>
                <%= entry.filesize %>
            </p>
            <div>
                <form method="get" id="<%= entry.filename %>" action=<%=entry.directory %>>
                    <button type="submit" form="<%= entry.filename %>" value="Submit">Download</button>
                </form>
            </div>

            <div>
                <button type="submit" onclick="deletereq('<%=entry.filename%>')">Delete</button>
            </div>
        </div>


        <% }) %>


            <div class="break"></div>

            <!--Display the links to the pages-->
            <% if(page> 1) { %> <a href="http://localhost:8000/file/myfiles/?page=<%=page-1%>">Before</a>
                <% } %>
                    <% for(let i=iterator; i <=endingLink; i++) { %>
                        <% if(i===page) { %>
                            <a class="selectedLink" href="http://localhost:8000/file/myfiles/?page=<%=i%>">
                                <%=i%>
                            </a>
                            <% continue; %>
                                <% } %>
                                    <a href="http://localhost:8000/file/myfiles/?page=<%=i%>">
                                        <%=i%>
                                    </a>
                                    <% } %>
                                        <% if(page < numberOfPages) { %> <a
                                                href="http://localhost:8000/file/myfiles/?page=<%=page+1%>">After</a>
                                            <% } %>
</body>

<script>

    function deletereq(filename) {
        let req = new XMLHttpRequest()
        req.open('POST', `http://localhost:8000/api/deletefile`, true);
        //xhr.open('POST', 'https://filehosternode.herokuapp.com/api/loginCheck', true);
        req.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        req.send(`filename=${filename}`);

        req.onload = () => {
            if (req.onreadystatechange = 4) {
                //window.location.reload()
                let div = document.getElementById(filename + "div")
                div.style.display = "none"
            } else {
            }
        }
    }

</script>

</html>

<!--files = [{key,name,size},{key,name,size},{key,name,size}]-->