<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFiles</title>
</head>

<body>


    <table>
        <% for(var i=0; i < files.length; i++) { %>
            <tr>
                <div style="border-style: solid; border-color: black; border-width: thin; padding: 15px;">
                    <form action="/file/filedownload" method="POST" style="margin: 10px;">
                        <div>
                            <h2>
                                <%= files[i] %>
                            </h2>
                        </div>
                        <div style="margin: 5px;">
                            <input type="text" name="file" value="<%= files[i] %>" hidden>
                            <input type="submit" name="action" value="delete" style="margin: 5px;">
                            <input type="submit" name="action" value="download">
                        </div>
                    </form>
                </div>

            </tr>
            <% } %>
    </table>

</body>

</html>

<!--files = [{key,name,size},{key,name,size},{key,name,size}]-->

<body>
    <% files.forEach( obj=> { %>
        <h1>
            <%= obj.filename %>
        </h1>
        <p>
            <%= obj.size %>
        </p>
        <% }) %>

            <div class="break"></div>

            <!--Display the links to the pages-->
            <% if(page> 1) { %> <a href="/?page=<%=page-1%>">Before</a>
                <% } %>
                    <% for(let i=iterator; i <=endingLink; i++) { %>
                        <% if(i===page) { %>
                            <a class="selectedLink" href="/?page=<%=i%>">
                                <%=i%>
                            </a>
                            <% continue; %>
                                <% } %>
                                    <a href="/?page=<%=i%>">
                                        <%=i%>
                                    </a>
                                    <% } %>
                                        <% if(page < numberOfPages) { %> <a href="/?page=<%=page+1%>">After</a>
                                            <% } %>
</body>